.mirea_blok{
    height: 1280px;
    width: 100%;
    
}

.bg_blur{
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.text_block{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
}

.text{ 
    margin-bottom: 15px;
}