.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 16px;
    color: black;
}

.box1{
    display: grid;
    grid-template-columns: 1fr;
}

.input_fields{
    display: grid;
    width: 100%;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr 0.3fr;
    grid-gap: 0.5%;
}

.input_field{
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.btn_add{
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    outline: none;
}

.box2{
    margin-top: 22px;
    display: grid;
    grid-template-columns: 1fr;
}

.input_fields2{
    display: grid;
    grid-template-columns: 2.1fr 1.1fr 2.1fr 0.3fr;
    grid-gap: 0.5%;
}

.input_fields3{
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.6fr 0.4fr;
    grid-gap: 0.5%;
    margin-bottom: 7px;
}

.input_fields4{
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 0.7fr 0.6fr 0.4fr;
    grid-gap: 0.5%;
    margin-bottom: 7px;
}

.input_fields5{
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.4fr;
    grid-gap: 0.5%;
    margin-bottom: 7px;
}